In [1]:
import pandas as pd
import numpy as np
import os

In [23]:
pwd=os.getcwd()
data=pd.read_csv(pwd+"//bmw.csv")
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

Remove column with one unique value

In [24]:
data.nunique()

model             24
year              25
price           3777
transmission       3
mileage         8086
fuelType           5
tax               38
mpg              102
engineSize        17
dtype: int64

Missing data

In [25]:
data.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [26]:
missing_values=[np.nan,""," ",None]
data.isin(missing_values).mean()

model           0.0
year            0.0
price           0.0
transmission    0.0
mileage         0.0
fuelType        0.0
tax             0.0
mpg             0.0
engineSize      0.0
dtype: float64

Target column

In [27]:
X=data.drop(columns="price")
y=data["price"]

Feature Engineering

In [28]:
car_type = {'5 Series':'sedan',
 '6 Series':'coupe',
 '1 Series':'coupe',
 '7 Series':'sedan',
 '2 Series':'coupe',
 '4 Series':'coupe',
 'X3':'suv',
 '3 Series':'sedan',
 'X5':'suv',
 'X4':'suv',
 'i3':'electric',
 'X1':'suv',
 'M4':'sports',
 'X2':'suv',
 'X6':'suv',
 '8 Series':'coupe',
 'Z4':'convertible',
 'X7':'suv',
 'M5':'sports',
 'i8':'electric',
 'M2':'sports',
 'M3':'sports',
 'M6':'sports',
 'Z3':'convertible'}

# Feature Engineering
# We're going to add a classification that I manually put together 
X["model"] = X["model"].str.strip()
X["car_type"] = X["model"].map(car_type)
X

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,car_type
0,5 Series,2014,Automatic,67068,Diesel,125,57.6,2.0,sedan
1,6 Series,2018,Automatic,14827,Petrol,145,42.8,2.0,coupe
2,5 Series,2016,Automatic,62794,Diesel,160,51.4,3.0,sedan
3,1 Series,2017,Automatic,26676,Diesel,145,72.4,1.5,coupe
4,7 Series,2014,Automatic,39554,Diesel,160,50.4,3.0,sedan
...,...,...,...,...,...,...,...,...,...
10776,X3,2016,Automatic,40818,Diesel,150,54.3,2.0,suv
10777,5 Series,2016,Automatic,42947,Diesel,125,60.1,2.0,sedan
10778,3 Series,2017,Manual,25468,Petrol,200,42.8,2.0,sedan
10779,1 Series,2014,Automatic,45000,Diesel,30,64.2,2.0,coupe
10780,X1,2017,Automatic,59432,Diesel,125,57.6,2.0,suv

Data Encoding

In [30]:
X=pd.get_dummies(X,drop_first=True)
X

,year,mileage,tax,mpg,engineSize,model_2 Series,model_3 Series,model_4 Series,model_5 Series,model_6 Series,...,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,car_type_coupe,car_type_electric,car_type_sedan,car_type_sports,car_type_suv
0,2014,67068,125,57.6,2.0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,2018,14827,145,42.8,2.0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
2,2016,62794,160,51.4,3.0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,2017,26676,145,72.4,1.5,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2014,39554,160,50.4,3.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10776,2016,40818,150,54.3,2.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10777,2016,42947,125,60.1,2.0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
10778,2017,25468,200,42.8,2.0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
10779,2014,45000,30,64.2,2.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10780,2017,59432,125,57.6,2.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
P=X.copy()

Scaling

In [32]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

X=pd.DataFrame(scaler.fit_transform(X),columns=X.columns)
X

,year,mileage,tax,mpg,engineSize,model_2 Series,model_3 Series,model_4 Series,model_5 Series,model_6 Series,...,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,car_type_coupe,car_type_electric,car_type_sedan,car_type_sports,car_type_suv
0,0.750000,0.313399,0.215517,0.111971,0.303030,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.916667,0.069281,0.250000,0.080163,0.303030,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,0.833333,0.293427,0.275862,0.098646,0.454545,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.875000,0.124650,0.250000,0.143778,0.227273,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.750000,0.184828,0.275862,0.096497,0.454545,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10776,0.833333,0.190735,0.258621,0.104879,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10777,0.833333,0.200683,0.215517,0.117344,0.303030,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10778,0.875000,0.119005,0.344828,0.080163,0.303030,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
10779,0.750000,0.210277,0.051724,0.126155,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10780,0.875000,0.277716,0.215517,0.111971,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Train-Test split

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test=train_test_split(X,y,test_size=0.25)

In [34]:
len(X_train)

8085

In [35]:
len(X_test)

2696

In [37]:
#P=pd.DataFrame(scaler.fit_transform(P))
#P

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,0.750000,0.313399,0.215517,0.111971,0.303030,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.916667,0.069281,0.250000,0.080163,0.303030,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,0.833333,0.293427,0.275862,0.098646,0.454545,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.875000,0.124650,0.250000,0.143778,0.227273,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.750000,0.184828,0.275862,0.096497,0.454545,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10776,0.833333,0.190735,0.258621,0.104879,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10777,0.833333,0.200683,0.215517,0.117344,0.303030,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10778,0.875000,0.119005,0.344828,0.080163,0.303030,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
10779,0.750000,0.210277,0.051724,0.126155,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10780,0.875000,0.277716,0.215517,0.111971,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Linear Regression

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

linear_regressor= LinearRegression()
linear_regressor.fit(X_train,y_train)

linear_predictions=linear_regressor.predict(X_test)
mean_absolute_error(y_test,linear_predictions)

2788.7822810934813

In [40]:
y_test.mean()

22942.725890207716

In [41]:
mean_absolute_error(y_test,linear_predictions)/y_test.mean()

0.12155409494230036

Random Forest

In [43]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

random_forest_regressor=RandomForestRegressor(n_estimators=1000)
random_forest_regressor.fit(X_train,y_train)

random_forest_predictions=random_forest_regressor.predict(X_test)
mean_absolute_error(y_test, random_forest_predictions)

1564.6916996795098

In [44]:
mean_absolute_error(y_test, random_forest_predictions)/y_test.mean()

0.06819990384609628

In [45]:
random_forest_predictions

array([12507.939, 17423.09 , 18004.527, ..., 34119.402, 34202.728,
       34115.227])

In [46]:
y_test

326     13489
1740    16491
2169    19572
6097    17182
5223    27450
        ...
7044    69995
4305    21980
5919    32250
7224    33285
2960    35480
Name: price, Length: 2696, dtype: int64

In [51]:
X_test

,year,mileage,tax,mpg,engineSize,model_2 Series,model_3 Series,model_4 Series,model_5 Series,model_6 Series,...,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,car_type_coupe,car_type_electric,car_type_sedan,car_type_sports,car_type_suv
326,0.875000,0.276006,0.034483,0.143778,0.227273,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1740,0.875000,0.103173,0.250000,0.092843,0.303030,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2169,0.833333,0.152347,0.215517,0.117344,0.303030,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6097,0.875000,0.162085,0.250000,0.117344,0.303030,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5223,0.958333,0.028612,0.258621,0.086181,0.303030,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,0.958333,0.024682,0.250000,0.060391,0.454545,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4305,0.958333,0.012743,0.250000,0.096497,0.303030,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
5919,0.958333,0.022561,0.258621,0.104879,0.303030,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7224,1.000000,0.020196,0.250000,0.096497,0.303030,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2960,0.958333,0.050253,0.250000,0.080163,0.303030,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

XGBoost

In [53]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

boost_model=XGBRegressor()
boost_model.fit(X_train,y_train)

boost_predictions=boost_model.predict(X_test)
mean_absolute_error(y_test, boost_predictions)

1537.154450413735

In [55]:
mean_absolute_error(y_test, boost_predictions)/y_test.mean()

0.06699964327559763

Hyperparameter Tuning

In [59]:
from sklearn.model_selection import GridSearchCV
# https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

n_estimators = [1500, 1600]
# Number of features to consider at every split
max_features = ['auto']
# Maximum number of levels in tree
max_depth = [80, 90]
# Minimum number of samples required to split a node
min_samples_split = [5]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1]
# Method of selecting samples for training each tree
bootstrap = [True]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

random_grid

{'n_estimators': [1500, 1600],
 'max_features': ['auto'],
 'max_depth': [80, 90],
 'min_samples_split': [5],
 'min_samples_leaf': [1],
 'bootstrap': [True]}

In [61]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 2 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = GridSearchCV(estimator = rf, param_grid = random_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 2 folds for each of 4 candidates, totalling 8 fits
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\ankit\AppData\Local\Temp\ipykernel_32472\4291464932.py", line 8, in <module>
    rf_random.fit(X_train, y_train)
  File "c:\Users\ankit\miniconda3\lib\site-packages\sklearn\model_selection\_search.py", line 874, in fit
    self._run_search(evaluate_candidates)
  File "c:\Users\ankit\miniconda3\lib\site-packages\sklearn\model_selection\_search.py", line 1388, in _run_search
    evaluate_candidates(ParameterGrid(self.param_grid))
  File "c:\Users\ankit\miniconda3\lib\site-packages\sklearn\model_selection\_search.py", line 821, in evaluate_candidates
    out = parallel(
  File "c:\Users\ankit\miniconda3\lib\site-packages\sklearn\utils\parallel.py", line 63, in __call__
    return super().__call__(iterable_with_config)
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\parallel.py", line 1085, in __call__
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\parallel.py", line 901, in dispatch_one_batch
    # We are finished dispatching
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\parallel.py", line 819, in _dispatch
    # we look ahead in the original iterators more than batch_size
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\_parallel_backends.py", line 556, in apply_async
    self.reset_batch_stats()
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\reusable_executor.py", line 176, in submit
    with self._submit_resize_lock:
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\process_executor.py", line 1149, in submit
    If set to one, the items in the list will be sent one at a
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\process_executor.py", line 1123, in _ensure_executor_running
    raise RuntimeError('cannot schedule new futures after '
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\process_executor.py", line 1111, in _adjust_process_count
  File "c:\Users\ankit\miniconda3\lib\multiprocessing\process.py", line 121, in start
    self._popen = self._Popen(self)
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\backend\process.py", line 29, in _Popen
    self.env = {} if env is None else env
  File "c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\backend\popen_loky_win32.py", line 8, in <module>
    from .context import get_spawning_popen, set_spawning_popen
ImportError: cannot import name 'get_spawning_popen' from 'joblib.externals.loky.backend.context' (c:\Users\ankit\miniconda3\lib\site-packages\joblib\externals\loky\backend\context.py)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2052, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "c:\Users\ankit\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "c:\Users\ankit\miniconda3\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\ankit\miniconda3\lib\site-packages\stack_data\core.py", line 720, in lines
    pieces = self.included_pieces
  File "c:\Users\ankit\miniconda3\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\ankit\miniconda3\lib\site-packages\stack_data\core.py", line 667, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "c:\Users\ankit\miniconda3\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\ankit\miniconda3\lib\site-packages\stack_data\core.py", line 646, in executing_piece
    return only(
  File "c:\Users\ankit\miniconda3\lib\site-packages\executing\executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [62]:
rf_random.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [63]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

perfect_random_forest = RandomForestRegressor(n_estimators=1500, min_samples_split=5, min_samples_leaf=1, max_features='auto', max_depth=80, bootstrap=True)
perfect_random_forest.fit(X_train, y_train)

perfect_random_forest_predictions = perfect_random_forest.predict(X_test)

mean_absolute_error(y_test, perfect_random_forest_predictions)

c:\Users\ankit\miniconda3\lib\site-packages\sklearn\ensemble\_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

1552.5350816621917